{% extends "base.html" %}
{% block content %}

<h2>Add review</h2>

<div class="form">
  <form method="POST">
    <div class="field">
      <label>Title</label>
      <input name="title" required>
    </div>

    <div class="field">
      <label>Rating</label>
      <div class="star-input">
        <input type="radio" id="star5" name="rating" value="5" required>
        <label for="star5">★</label>

        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4">★</label>

        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3">★</label>

        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2">★</label>

        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1">★</label>
      </div>
    </div>

    <div class="field">
      <label>Review</label>
      <textarea name="content" required></textarea>
    </div>

    <button class="btn primary">Post review</button>
  </form>
</div>

{% endblock %}
