<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stavros Movie Review PWA</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="manifest" href="{{ url_for('manifest') }}">
  <meta name="theme-color" content="#1e1e1e">
</head>
<body>

<div class="topbar">
  <div class="nav">
    <div class="brand">Stavros Movie Review PWA</div>

    <div class="nav-links">
      <a href="{{ url_for('index') }}">Home</a>

      {% if session.get("user_id") %}
        <a href="{{ url_for('add_review') }}">Add review</a>
        <a href="{{ url_for('logout') }}">Log out</a>
      {% else %}
        <a href="{{ url_for('login') }}">Log in</a>
        <a href="{{ url_for('register') }}">Sign up</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  {% block content %}{% endblock %}
  <div class="footer">Stavros Movie Review PWA • Year 12 Software Engineering</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
  if ("serviceWorker" in navigator) {
    window.addEventListener("load", () => {
      navigator.serviceWorker.register("/static/sw.js");
    });
  }
</script>

</body>
</html>
